#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
}

/* CSS de regalo */

.container {
  width: 660px;
  display: flex;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid white;
}

/* Estilos para cada una de las box */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-width: 1px;
  border-style: solid;
  color: white;
}

/* Estilos para el input */
input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}

.box.active {
  color: black !important;
  font-weight: bold;
}

.box.red {
  border: 1px solid red;
  color: red;
}

.box.red.active {
  background-color: red;
}

.box.green {
  border: 1px solid green;
  color: green;
}

.box.green.active {
  background-color: green;
}

.box.pink {
  border: 1px solid pink;
  color: pink;
}

.box.pink.active {
  background-color: pink;
}

.box.yellow {
  border: 1px solid yellow;
  color: yellow;
}

.box.yellow.active {
  background-color: yellow;
}

.box.purple {
  border: 1px solid purple;
  color: purple;
}

.box.purple.active {
  background-color: purple;
}

.box.white {
  border: 1px solid white;
  color: white;
}

.box.white.active {
  background-color: white;
}

.box.blue {
  border: 1px solid blue;
  color: blue;
}

.box.blue.active {
  background-color: blue;
}

.box.aqua {
  border: 1px solid aqua;
  color: aqua;
}

.box.aqua.active {
  background-color: aqua;
}

.box.olive {
  border: 1px solid olive;
  color: olive;
}

.box.olive.active {
  background-color: olive;
}